services:
  apache:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: apache_server
    ports:
      - "8080:80"
    volumes:
      - ./public:/usr/local/apache2/htdocs
      - ./.apache/apache-virtual-host.conf:/usr/local/apache2/conf/sites/apache-virtual-host.conf
    depends_on:
      - deno
    networks:
      - webnet

  deno:
    build:
      context: ./game-server/
      dockerfile: Dockerfile
    container_name: deno_server
    env_file:
      - ./.env
    networks:
      - webnet

networks:
  webnet:
