main {
    display: flex;
    justify-content: center;
    height: 80%;
}

form {
    max-width: 500px;
    padding-top: 100px;
}

.feedback-input {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid var(--caribbean-current);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid;
    border-color: var(--indigo-dye);
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    background: var(--caribbean-current);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
    transition: background-color 0.2s;
    transition: box-shadow 0.2s;
}

[type="submit"]:hover {
    background: var(--indigo-dye);
    box-shadow: 5px 5px var(--white);
}

footer {
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_icon {
    width: 50px;
    height: 50px;
    background-image: url('../images/meIcon.png'); /* Imagen inicial */
    background-size: cover;
    transition: filter 0.3s ease-in-out;
}

.footer_icon:hover {
    background-image: url('../images/meIconHover.png'); /* Imagen en hover */
}
