@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS HEX */
:root {
    /* background */
    --jet: #353535ff;
    /* interactive items */
    --caribbean-current: #3c6e71ff;
    /* text */
    --platinum: #d9d9d9ff;

    /* resaltar cosas */
    --indigo-dye: #284b63ff;
    --white: #ffffffff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    background-color: var(--jet);
    font-family: "Noto Sans", sans-serif;
}

/*--- TOP BAR ---*/

header {
    padding: 25px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 75px;
}

.home_link {
    display: flex;
    gap: 15px;
}

.home_link>h1{
    text-decoration: none;
    color: var(--platinum);
    font-size: 30px;
    font-weight: 900;

}

.home_link>img{
    width: 25px;
    transform: rotate(15deg); 
}

.page_link {
    text-decoration: none;
    color: var(--caribbean-current);
    font-size: 25px;
    font-weight: 900;
    transition: color 0.15s ease, text-decoration 0.15s ease;
}

.page_link:hover {
    text-decoration: underline;    
    color: var(--indigo-dye);
}

.this_page_link {
    color: var(--indigo-dye);
}
