footer {
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_icon {
    width: 50px;
    height: 50px;
    background-image: url('./images/meIcon.png'); /* Imagen inicial */
    background-size: cover;
    transition: filter 0.3s ease-in-out;
}

.footer_icon:hover {
    background-image: url('./images/meIconHover.png'); /* Imagen en hover */
}
/* Animación */
@keyframes change-image {
    0%, 50% {
        background-image: url('./images/meIcon.png'); /* Imagen inicial */
    }
    50.1%, 100% {
        background-image: url('./images/meIconHover.png'); /* Imagen final */
    }
}


/* MAIN */
main {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 75px;
    width: 50%;
}

.left_main>h2 {
    color: var(--platinum);
    font-size: 60px;
    font-weight: 900;
}

.left_main>p {
    max-width: 75%;
    color: var(--platinum);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.right_main {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_btn {
    background-color: var(--caribbean-current);
    width: 290px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition: background-color 0.2s;
    transition: box-shadow 0.2s;
}


.play_btn>label {
    color: var(--platinum);
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}

.play_btn:hover {
    background-color: var(--indigo-dye);
    box-shadow: 5px 5px var(--white);
}
