main {
    padding: 5%;
}

.settings_input {
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid var(--caribbean-current);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 40%;
    box-sizing: border-box;
    outline: 0;
}

.settings_input:focus {
    border: 2px solid;
    border-color: var(--indigo-dye);
}

.settings_apply_button {
    width: 150px;
    background: var(--caribbean-current);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
    transition: background-color 0.2s;
    transition: box-shadow 0.2s;
}

.settings_apply_button:hover {
    background: var(--indigo-dye);
    box-shadow: 5px 5px var(--white);
}

main>label{
    color: var(--white);
    font-weight: 700;
    margin-bottom: 100px;
}
