@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700;900&display=swap");

:root {
  --jet: #353535;
  --caribbean-current: #3c6e71;
  --platinum: #d9d9d9;
  --indigo-dye: #284b63;
  --white: #ffffff;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: var(--jet);
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

/* Header branding and links */
.header-brand-title {
  text-decoration: none;
  color: var(--platinum);
  font-size: 30px;
  font-weight: 900;
}

.header-brand-icon {
  width: 25px;
  transform: rotate(15deg);
}

.page-link-dos {
  text-decoration: none;
  color: var(--caribbean-current);
  font-size: 1.25rem;
  font-weight: 900;
  transition:
    color 0.15s ease,
    text-decoration 0.15s ease;
}

.page-link-dos:hover {
  text-decoration: underline;
  color: var(--indigo-dye);
}

.page-link-active {
  color: var(--indigo-dye);
}

/* Main layout */
.main-layout {
  min-height: 80vh;
}

.game-rules {
  width: 75%;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 400;
  color: var(--platinum);
}

.game-rules::before {
  content: "• ";
}

/* Cards section */
.cards-wrapper {
  position: relative;
  min-height: 450px;
}

.rule-card {
  width: 225px;
  transition: transform 0.3s;
  position: absolute;
}

.rule-card-1 {
  transform: rotate(-15deg);
  top: 220px;
  left: 190px;
  z-index: 2;
}

.rule-card-2 {
  transform: rotate(15deg);
  top: 130px;
  left: 340px;
  z-index: 1;
}

@media (max-width: 991.98px) {
  .cards-wrapper {
    min-height: 320px;
  }

  .rule-card-1 {
    top: 180px;
    left: 50%;
    transform: translateX(-70%) rotate(-15deg);
  }

  .rule-card-2 {
    top: 80px;
    left: 50%;
    transform: translateX(-30%) rotate(15deg);
  }
}
