name: Test code

on: [push]

jobs:
  server-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: game-server/
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
      - run: deno test --allow-all 
